<table>
                            
    <thead class="tableRow">
        <tr>
            <th class="thTitle thTitleTopLeft thTitleWidth">Capa</th>
            <th class="thTitle maxWidth1">Clave de unidad</th>
            <th class="thTitle">Cima (m)</th>
            <th class="thTitle">Base (m)</th>
            <th class="thTitle">Espesor (m)</th>
            <th class="thTitle maxWidth1">Depo desde (Ma)</th>
            <th class="thTitle maxWidth1">Depo hasta (Ma)</th>
            <th class="thTitle">Litología</th>
            <th class="thTitle thTitleWidth">PSE*</th>
            <th class="thTitle">TOC (%)</th>
            <th class="thTitle thTitleWidth">Cinética</th>
            <th class="thTitle  thTitleTopRight maxWidth1">HI (mgHC/gTOC)</th>
        </tr>
    </thead>

    <tbody>
        <% data.baseData.forEach(row => { %>
            <tr>

                <th class="<%= row.id % 2 == 0 ? 'th1' : 'th2' %>"><%= row.layer %></th>
                <th class="<%= row.id % 2 == 0 ? 'th1' : 'th2' %>"><%= row.id_layer %></th>
                <th class="<%= row.id % 2 == 0 ? 'th1' : 'th2' %>"><%= row.top %></th>
                <th class="<%= row.id % 2 == 0 ? 'th1' : 'th2' %>"><%= row.base %></th>
                <th class="<%= row.id % 2 == 0 ? 'th1' : 'th2' %>"><%= row.thickness %></th>
                <th class="<%= row.id % 2 == 0 ? 'th1' : 'th2' %>"><%= row.depo_from %></th>
                <th class="<%= row.id % 2 == 0 ? 'th1' : 'th2' %>"><%= row.depo_until %></th>
                <th class="<%= row.id % 2 == 0 ? 'th1' : 'th2' %>"><%= row.lithology.lithology %></th>
                <th class="<%= row.id % 2 == 0 ? 'th1' : 'th2' %>"><%= row.pse.pse %></th>
                <th class="<%= row.id % 2 == 0 ? 'th1' : 'th2' %>"><%= row.cot %></th>
                <th class="<%= row.id % 2 == 0 ? 'th1' : 'th2' %>"><%= row.kinetic.kinetic %></th>

                <% if (validation == 'passed') { %>
                    
                    <th class="<%= row.id % 2 == 0 ? 'th1' : 'th2' %>">
                        <% if (row.id == 5 || row.id == 9) { %>
                            500
                        <% } %>
                        <% if (row.id == 12) { %>
                            400
                        <% } %>
                    </th>

                    <% } else { %>
                        <% if (row.hi == null) { %>
                            <th class="<%= row.id % 2 == 0 ? 'th1' : 'th2' %>"></th>
                            <% } else { %>
                                <th class="<%= row.id % 2 == 0 ? 'th1' : 'th2' %>">
                                    <input class="<%= row.id % 2 == 0 ? 'input1' : 'input2' %> <%= locals.errors && errors.includes('hi_' + row.id) ? 'isInvalid' : null %> input3" type="number" step="0.01" name="<%= 'hi_' + row.id %>" value="<%= locals.oldData ? oldData['hi_' + row.id] : row.hi %>" autocomplete="off">
                                </th>
                        <% } %>
                <% } %>
                
                
            </tr>
        <% }) %>  
    </tbody>
</table>

