<table>
                            
    <thead class="tableRow">
        <tr>
            <th class="thTitle thTitleTopLeft thTitleWidth">Capa</th>
            <th class="thTitle maxWidth1">Clave de unidad</th>
            <th class="thTitle">Cima (m)</th>
            <th class="thTitle">Base (m)</th>
            <th class="thTitle">Espesor (m)</th>
            <th class="thTitle maxWidth1">Depo desde (Ma)</th>
            <th class="thTitle maxWidth1">Depo hasta (Ma)</th>
            <th class="thTitle">Litología</th>
            <th class="thTitle thTitleWidth">PSE*</th>
            <th class="thTitle">TOC (%)</th>
            <th class="thTitle thTitleWidth2">Cinética</th>
            <th class="thTitle  thTitleTopRight maxWidth1">HI (mgHC/gTOC)</th>
        </tr>
    </thead>

    <tbody>
        <% data.baseData.forEach(row => { %>
            <tr>

                <th class="<%= row.id % 2 == 0 ? 'th1' : 'th2' %>"><%= row.layer %></th>
                <th class="<%= row.id % 2 == 0 ? 'th1' : 'th2' %>"><%= row.id_layer %></th>
                <th class="<%= row.id % 2 == 0 ? 'th1' : 'th2' %>"><%= row.top %></th>
                <th class="<%= row.id % 2 == 0 ? 'th1' : 'th2' %>"><%= row.base %></th>
                <th class="<%= row.id % 2 == 0 ? 'th1' : 'th2' %>"><%= row.thickness %></th>
                <th class="<%= row.id % 2 == 0 ? 'th1' : 'th2' %>"><%= row.depo_from %></th>
                <th class="<%= row.id % 2 == 0 ? 'th1' : 'th2' %>"><%= row.depo_until %></th>
                <th class="<%= row.id % 2 == 0 ? 'th1' : 'th2' %>"><%= row.lithology.lithology %></th>
                <th class="<%= row.id % 2 == 0 ? 'th1' : 'th2' %>"><%= row.pse.pse %></th>
                <th class="<%= row.id % 2 == 0 ? 'th1' : 'th2' %>"><%= row.cot %></th>

                <% if (validation == 'passed') { %>

                    <th class="<%= row.id % 2 == 0 ? 'th1' : 'th2' %>">
                        <% if (row.id == 5 || row.id == 9 || row.id == 12) { %>
                            Tissot-in-Waples(1992)-TIII-Crack
                        <% } %>
                    </th>

                    <% } else { %>
                        <% if (row.kinetic.kinetic == null) { %>
                            <th class="<%= row.id % 2 == 0 ? 'th1' : 'th2' %>"></th>
                            <% } else { %>
                                <th class="<%= row.id % 2 == 0 ? 'th1' : 'th2' %> <%= locals.errors && errors.includes('id_kinetics_' + row.id) ? 'isInvalid' : null %>">
                                    <select name="<%= 'id_kinetics_' + row.id %>" class="<%= row.id % 2 == 0 ? 'select1' : 'select2' %> <%= locals.errors && errors.includes('id_kinetics_' + row.id) ? 'isInvalid' : null %>">
                                        
                                        <% data.kinetics.forEach(kinetic => { %>
        
                                            <% if (locals.oldData) { %>
                                                <option value="<%= kinetic.id %>" <%= oldData['id_kinetics_' + row.id] == kinetic.id ? 'selected' : null %>>
                                                    <%= kinetic.kinetic %>
                                                </option>
                                                <% } else { %>
                                                    <option value="<%= kinetic.id %>" <%= row.id_kinetic == kinetic.id ? 'selected' : null %>>
                                                        <%= kinetic.kinetic %>
                                                    </option>
                                            <% } %>
                                            
                                        <% }) %>
        
                                    </select>
                                </th>
                        <% } %>

                <% } %>
                
                <th class="<%= row.id % 2 == 0 ? 'th1' : 'th2' %>"><%= row.hi %></th>
                
            </tr>
        <% }) %>  
    </tbody>
</table>