<%- include('./partials/head') %>

<body class="gridBody">
    <div class="gridContainer1">
        <div class="gridItem1">
            <%- include('./partials/header') %>
        </div>

        
        <div class="gridItem1">
            <div class="chartsMenu">
                <%- include('./partials/chartsMenu') %>
                <%- include('./partials/chartsButtons') %>
            </div>
        </div>

        <% if (!data.chartData.pageChartsInfo) { %>
            <div class="gridItem1 divCharts">
                <div class="divChart">
                    <div class="chartTitle"><%= data.chartData.chartTitle %></div>
                    <div class="chart" id="myChart"style="margin-left: <%= data.chartData.marginLeft %>; margin-top: <%= data.chartData.marginTop %>">
                        <div id="tooltip" style="position: absolute; visibility: hidden;"></div>
                    </div>                
                </div>
            </div>
        <% } %>

        <% if (data.chartData.pageChartsInfo) { %>
            <div class="gridItem1 divCharts">
                <div class="divChart">                
                        <div class="chartTitle"><%= data.chartData.pageChartsInfo[0].chartTitle %></div>
                        <div class="chart" id="myChart"style="margin-left: <%= data.chartData.marginLeft %>; margin-top: <%= data.chartData.marginTop %>">
                            <div id="tooltip" style="position: absolute; visibility: hidden;"></div>
                        </div>                
                </div>
                <div class="divChart">                
                    <div class="chartTitle"><%= data.chartData.pageChartsInfo[1].chartTitle %></div>
                    <div class="chart" id="myChart"style="margin-left: <%= data.chartData.marginLeft %>; margin-top: <%= data.chartData.marginTop %>">
                        <div id="tooltip" style="position: absolute; visibility: hidden;"></div>
                    </div>                
                </div>
            </div>
        <% } %>

        

    </div>
</body>

<div class="notVisible" id="idWell"><%= data.well.id %></div>
<div class="notVisible" id="chartName"><%= data.chartData.name %></div>

<script type="module" src="/js/charts/charts.js"></script>

 








