<%- include('./partials/head') %>

<body class="gridBody">
    <div class="gridContainer1">
        <div class="gridItem1">
            <%- include('./partials/header') %>
        </div>
        
        <div class="gridItem1">
            <div class="chartsMenu">
                <%- include('./partials/chartsMenu') %>
                <%- include('./partials/chartsButtons') %>
            </div>
        </div>

        <% if (!data.chartData.pageChartsInfo) { %>
            <div class="gridItem1 divCharts">
                <div class="divChart">
                    <div class="chartTitle"><%= data.chartData.chartTitle + idWell %></div>
                    <div class="chart" id="myChart1"style="margin-left: <%= data.chartData.marginLeft %>; margin-top: <%= data.chartData.marginTop %>">
                        <div id="tooltip" style="position: absolute; visibility: hidden;"></div>
                    </div>                
                </div>
            </div>
            <div class="notVisible" id="chartName1"><%= data.chartData.name %></div>
        <% } %>
        

        <% if (data.chartData.pageChartsInfo) { %>
            <div class="gridItem1 divCharts">
                <div class="divChart">                
                        <div class="chartTitle"><%= data.chartData.pageChartsInfo[0].chartTitle + idWell %></div>
                        
                        <div class="chart" id="myChart1"style="margin-left: <%= data.chartData.marginLeft %>; margin-top: <%= data.chartData.marginTop %>">
                            <div id="tooltip" style="position: absolute; visibility: hidden;"></div>
                        </div>                
                </div>
                <div class="divChart">                
                    <div class="chartTitle"><%= data.chartData.pageChartsInfo[1].chartTitle + idWell %></div>
                    <div class="chart" id="myChart2"style="margin-left: <%= data.chartData.marginLeft %>; margin-top: <%= data.chartData.marginTop %>">
                        <div id="tooltip2" style="position: absolute; visibility: hidden;"></div>
                    </div>                
                </div>
            </div>
            <div class="notVisible" id="chartName1"><%= data.chartData.pageChartsInfo[0].name %></div>
            <div class="notVisible" id="chartName2"><%= data.chartData.pageChartsInfo[1].name %></div>
        <% } %>

    </div>
</body>

<div class="notVisible" id="idWell"><%= data.well.id %></div>
<div class="notVisible" id="processName"><%= processName %></div>

<%- include('./partials/logoutPopup') %>

<script type="module" src="/js/logoutPopup.js"></script>

<script type="module" src="/js/charts/chart1.js"></script>

<% if (data.chartData.pageChartsInfo) { %>
    <script type="module" src="/js/charts/chart2.js"></script>
<% } %>












